<h3>Total Word Count By Year</h3>
<%= link_to 'Table View', year_objs_path %>

<% @year_objs.each do |year_obj| %>

  <p><b><%=year_obj.num %>:</b>
  <% year_obj.total.times do %>|<% end %>
  (<%= year_obj.total %>)</p>
  
<% end %>