<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @billboard_date.date %>
</p>

<%= link_to 'Edit', edit_billboard_date_path(@billboard_date) %> |
<%= link_to 'Back', billboard_dates_path %>
